body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #121212;
}
h1 {
  color: #f5f5f5;
}
.container {
  background: #f5f5f5;
  color: #30475e;
  padding: 15px 30px;
  border-radius: 10px;
}
.datos {
  font-weight: 600;
  padding: 10px 0;
}
button {
  box-shadow: inset 0px 0px 15px 3px #30475e;
  background: linear-gradient(to bottom, #30475e 5%, #415989 100%);
  background-color: #2e466e;
  border-radius: 17px;
  border: 1px solid #1f2f47;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 15px;
  padding: 6px 13px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #263666;
}
button:hover {
  background: linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  background-color: #415989;
}
button:active {
  position: relative;
  top: 2px;
}
